@import '~antd/dist/antd.css';

.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* ANT DESIGN */
.logo {
  height: 75px;
  margin: 16px;
  
}
  
  /*------------------------------------------------------*/

.site-layout-sub-header-background {
  background: linear-gradient(.25turn, rgb(0,0,0), 99%, #94c11f); 
  /* background: linear-gradient(to right , rgb(0,0,0) ,  #94c11f); */
}

.site-layout-background {
  background: #fff;
}

.ant-layout-sider-dark {
   background: linear-gradient(to bottom , rgb(0,0,0) , 99%, #94c11f); 
}